#slider {
    width: 400px;
    height: 400px;
    border: 1px solid gold;
    overflow: hidden;
}

.slider-item {
    position: relative;
    width: 400px;
    height: 400px;
    object-fit: contain;
    display: none;
}

.slider-item-active {
    display: block;
    animation-name: showImg;
    animation-duration: 1.5s;
}

@keyframes showImg {
    0% {
        opacity: .3;
        left: 200px;
    }
    70% {
        left: -50px;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

